.container{:style => "margin-top: 37px;"}
  .row.col-md-6.col-md-offset-3
    = form_for @post, class: "form-horizontal" do |f| 
      .form-group    
        = f.label :date, class: "control-label"
        = f.date_field :date, class: "form-control"
      .form-group
        = f.label :rationale, class: "control-label"
        = f.text_area :rationale, class: "form-control"

        = f.submit 'Save', class: "btn btn-success btn-block"