!!!5
%html
  %head
    %title Overtime
    = csrf_meta_tags 

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'
 

  %body.components-page
    = render '/shared/nav'
    = yield 
    
    = js add_gritter(flash[:notice], title: "Overtime App Notification", sticky: false) 